<h1>Rewards</h1>
<% @rewards.each do |reward| %>
  <%= reward.name %>: <%= reward.cost %>
  <%= reward.name %>: <%= reward.cost %>
  <% if current_user && current_user.is_admin? %>
    <%= link_to "Edit #{reward.name}", edit_admin_reward_path(reward) %>
    <%= link_to "Delete #{reward.name}", admin_reward_path(reward), method:
      :delete %>
  <% elsif current_user %>
    <%= link_to "Redeem points for #{reward.name}", user_redeem_path(current_user, reward) %>
  <% end %>
<% end %>
