<% if @user.is_admin? %>
  Welcome admin <%= @user.username %>
<% elsif current_user == @user %>
  <h1>Show me the <%= @user.username %></h1>
  <br>
  <h3><%= @user.username %>'s rewards</h3>
  <br>
  <% @rewards.each do |reward| %>
    <%= reward.name %>
  <% end %>
<% end %>

<% if current_user && current_user.is_admin? %>
  <%= link_to "Create new reward", new_admin_reward_path %>
  <br>
  <%= form_for @user, url: "/admin/add_points" do |f| %>
    <%= f.label :points %>
    <%= f.select :points, [10, 100, 1000] %>
    <%= f.hidden_field :username, value: @user.username %>
    <%= f.submit "Give #{@user.username} points" %>
  <% end %>
<% end %>

